* {
  box-sizing: border-box;
}

#header {
  background-image: url(https://images.unsplash.com/photo-1653988354010-39637252a2db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2030&q=80);
  background-position: left;
  height: 30vw;
  width: 100%;  
}

h1 {
  font-family: Arial;
  font-size: 40px;
  text-shadow: 2px 2px 5px red;
  text-align: center;
  float: middle;
}

h4 {
  margin-bottom: 10px;
  font-size: 30px;
  color: maroon;
}

ul,
ol {
  margin-top: 0;
}

ol li {
  margin-top: 10px;
}

ul li {
  margin-top: 4px;
}

li {
  font-size: 18px;
  font-family: 'Caladea', serif;
}

body {
  background-color: papayawhip;
}

.copyright {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

#ingredients {
  color: mediumblue;
}

#equipment {
  color: darkgreen;
}

#directions {
  color: black;
}

.notice {
  font-weight: bold;
}

.measure {
  font-style: italic;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: chocolate;
}

#bigflex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  flex: 1;
  min-height: 95vh;
  margin-top: 20vh;
}